@using Microsoft.AspNetCore.Identity
@using WebQuiz.Data.Models
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ApplicationUser> SignInManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>@User.Identity.Name</p>
    }
</div>
